
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewResult</title>
</head>
<body>
    <b>Ekonomi Bakanlığı</b>
    <div>
        <b>View dan merhaba</b>
    </div>
</body>
</html>
